@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.heading{
  text-align: center;
  margin-top: 10px;
}
.menutab{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  gap: 170px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  
}
.btn{
  font-size: 15px;
  padding: 2px 5px 2px 5px;
  background-color: orange;
  border: none;
  box-shadow: 1px 1px 1px 1px #f3f3f3;
  font-weight: 500;
}
.menu-container{
  display: flex;
  border: 2px solid red;
  width: 450px;
  margin-top: 50px;
  gap: 1rem;
}
.img{
  /* border: 2px solid yellow; */
  width: 150px;
  height: 150px;
}

.foodImage {
  height: 150px;
  width: 150px;
}
.menu-item{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
 
  
  
}
.menu-price {
  display: flex;
  justify-content: space-between;
}
.order{
  margin-right: 10px;
}

